params {
    tumor_meta = 'PCSI0022P'
    //tumor_bam = '/.mounts/labs/gsi/testdata/mutect2/input_data/PCSI0022P.sorted.filter.deduped.realigned.recal.bam'
    //tumor_bam_index = '/.mounts/labs/gsi/testdata/mutect2/input_data/PCSI0022P.sorted.filter.deduped.realigned.recal.bam.bai'
    normal_meta = 'PCSI0022R'
    tumor_only_mode = true
    //normal_bam = '/.mounts/labs/gsi/testdata/mutect2/input_data/PCSI0022R.val.bam'
    //normal_bam_index = '/.mounts/labs/gsi/testdata/mutect2/input_data/PCSI0022R.val.bam.bai'
    intervals = '/.mounts/labs/gsi/testdata/mutect2/input_data/PCSI0022.val.bed'
    ref_fasta = '/.mounts/labs/gsi/modulator/sw/data/hg19-p13/hg19_random.fa'
    ref_fai = '/.mounts/labs/gsi/modulator/sw/data/hg19-p13/hg19_random.fa.fai'
    ref_dict = '/.mounts/labs/gsi/modulator/sw/data/hg19-p13/hg19_random.dict'
    germline_resource = ''
    germline_resource_tbi = ''
    panel_of_normals = ''
    panel_of_normals_tbi = ''
    mutect2_outdir = '/.mounts/labs/gsiprojects/gsi/nextflow/mutect2/output'
    mutect2_inputdir = '/.mounts/labs/gsiprojects/gsi/nextflow/mutect2/input'
}