
params {
    test_data = '/.mounts/labs/gsiprojects/gsi/nextflow/tests'

    bcl2fastq {
        meta_id = 'test'
        meta_lane = 1
        samplesheet = "/.mounts/labs/prod/archive/m146/191210_M00146_0137_000000000-D7KWF/SampleSheet.csv"
        run_dir = "/.mounts/labs/prod/archive/m146/191210_M00146_0137_000000000-D7KWF"
    }

    bwamem {
        meta = 'GNLR_0026_Bn_U_PE_688_WG_1_S17'
        readGroup = 'no_readGroup'
        reference = 'hg38'
        threads = 2
        addParem = 'no_addParem'
        sort_bam = true
    }
    mutect2 {
        tumor_meta = 'PCSI0022P'
        normal_meta = 'PCSI0022R'
        intervals = '/.mounts/labs/gsi/testdata/mutect2/input_data/PCSI0022.val.bed'
        mutectTag = 'mutect2'
        mutect2ExtraArgs = ''
        reference = 'hg19'
        gatk = 'gatk/4.1.7.0'
        tumor_only_mode = false
        panel_of_normals = ''
        panel_of_normals_tbi = ''
    }
    vep {
        tumorName = 'VAL1_0007_Co_P'
        normalName = ''
        onlyTumor = false
        targetBed = ''
        reference = 'hg38'
    }
    delly {
        markdup = false
        tumorName = 'PCSI_1019_Pa_P_PE_598_WG_526.chr19'
        reference = 'hg19'
        picard_module = 'picard/2.19.2'
        tumor_only_mode = false
        normalName = 'PCSI_1019_Ly_R_PE_635_WG.chr19'
        mergeAndZip_modules = 'bcftools/1.9 vcftools/0.1.16 tabix/0.2.6'
    }
}


process {

    cpus = 2
    memory = 8.GB
    time = 2.h
    maxRetries = 0

    PICARD_MARKDUPLICATES {
        memory = 40.GB
        time = 10. h
    }

}

manifest {
    nextflowVersion = '!>=23.04.0'
}
