includeConfig 'bcl2fastq/nextflow.config'
includeConfig 'bwaMem/nextflow.config'
includeConfig 'mutect2/nextflow.config'
includeConfig 'vep/nextflow.config'

params {
    publish_dir_mode = "copy"
    test_data_base = '/.mounts/labs/gsiprojects/gsi/nextflow/test_data_base/data'
}



process {
    cpus = 2
    memory = 8.GB
    time = 2.h
    maxRetries = 0
}

singularity {
    enabled = true
    autoMounts = true
}

manifest {
    nextflowVersion = '!>=23.04.0'
}
