
params {
    test_data = '/.mounts/labs/gsiprojects/gsi/nextflow/tests'

    mutect2 {
        tumor_meta = 'PCSI0022P'
        normal_meta = 'PCSI0022R'
        intervals = '/.mounts/labs/gsi/testdata/mutect2/input_data/PCSI0022.val.bed'
        mutectTag = 'mutect2'
        mutect2ExtraArgs = ''
        reference = 'hg19'
        gatk = 'gatk/4.1.7.0'
        tumor_only_mode = false
        panel_of_normals = ''
        panel_of_normals_tbi = ''
    }
    vep {
        tumorName = 'VAL1_0007_Co_P'
        normalName = ''
        onlyTumor = false
        targetBed = ''
        reference = 'hg38'
    }
}


process {
    cpus = 2
    memory = 8.GB
    time = 2.h
    maxRetries = 0
}

manifest {
    nextflowVersion = '!>=23.04.0'
}
