params {
    meta_id = 'test'
    meta_lane = 1
    samplesheet = "/.mounts/labs/prod/archive/m146/191210_M00146_0137_000000000-D7KWF/SampleSheet.csv"
    run_dir = "/.mounts/labs/prod/archive/m146/191210_M00146_0137_000000000-D7KWF"
    bcl2fastq_outdir = "/.mounts/labs/gsiprojects/gsi/nextflow/bcl2fastq/tests"
}


