params {
    threads = 2
    ref_fasta = "/.mounts/labs/gsi/modulator/sw/data/hg38-bwa-index-with-alt-0.7.17/hg38_random.fa"
    HG38_BWA_INDEX_WITH_ALT_ROOT = "/.mounts/labs/gsi/modulator/sw/data/hg38-bwa-index-with-alt-0.7.17/"
    sort_bam = "true"
    bwa_outdir = "/.mounts/labs/gsiprojects/gsi/nextflow/bwaMem/output"
}