params {
    vep_outdir = '/.mounts/labs/gsiprojects/gsi/nextflow/vep/output'
    vep_inputdir = '/.mounts/labs/gsiprojects/gsi/nextflow/vep/input'
    vepCacheDir = '/.mounts/labs/gsi/modulator/sw/data/vep-hg38-cache-105/.vep'
    referenceFasta = '/.mounts/labs/gsi/modulator/sw/data/hg38-p12/hg38_random.fa'
    species = 'homo_sapiens'
    ncbiBuild = 'GRCh38'
    vepPath = '/.mounts/labs/gsi/modulator/sw/Ubuntu20.04/vep-105.0/bin/'
    tumorName = 'VAL1_0007_Co_P'
    normalName = ''
    vepTumorOnly = false
    targetBed = ''
}